/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }


/* main CSS */

@font-face {
    font-family: odin-font;
    src: url(fonts/Norse-Bold.otf);
  }

body {
    font-family:'Segoe UI';
    --text-content-padding: 40px;
    letter-spacing: 0.03rem;
    
}

.container {
    height: 100vh;
    width: 65%;
    margin: 0 auto;
    display: flex;
    background-color: rgb(241, 241, 241);
}

.image-section {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.image-section > .banner {
    background: rgba(0, 0, 0, 0.5);
    margin-top: 180px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: odin-font, system-ui;
    font-size: calc(1.2rem + 3vw);
}

.banner > img {
    height: 80%;
    width: auto;
}

.image-section > .image-credits {
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.75rem;
}

a {
    color: inherit;
}


.text-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 120px;
}

.text-section .header-text{
    font-size: 1.25rem;
    font-weight: bold;
    max-inline-size: 62ch;
    padding-left: var(--text-content-padding);
}

form {
    margin-top: 20px;
}

form > .input-section{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.2);
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: var(--text-content-padding);
}

.input-section > h3 {
    font-size: 1.25rem
}

.input-section > .form-row {
    margin-top: 20px;
    display: flex;
    gap: 60px;
    font-size: 12px;
}

.form-row > div {
    width: 250px;
}

.form-row  label {
    display: block;
    margin-bottom: 2px;
    letter-spacing: 0.05rem;
}

.form-row input {
    width: 100%;
    padding-left: 6px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 2px;
    border: 1px solid rgba(196, 193, 193, 0.849);
}

input:focus {
    outline: 1px solid rgb(115, 115, 241);
    box-shadow: 0 4px 4px 0 rgba(88, 88, 88, 0.2);
}

input[type = 'password']:focus:invalid{
    
    outline: 1px solid rgb(255, 46, 63);
}

form button {
    border-style: none;
    border-radius: 6px;
    background: #596D48;
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    margin-left: var(--text-content-padding);
    margin-top: 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-text {
    padding-left: var(--text-content-padding);
    font-weight: bold;
}

.footer-text a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}